.security {
  &__area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1322px;
    margin: 0 auto;
    padding: 30px 0 50px;
  }
  &__title {
    margin-bottom: 30px;
    font-size: px-to-em(45);
    line-height: lh-to-pct(61, 45);
    font-weight: 600;
    text-align: center;
  }
  &__text {
    max-width: 880px;
    margin-bottom: 40px;
    font-size: px-to-em(25);
    line-height: lh-to-pct(34, 25);
    font-weight: 400;
    text-align: center;
  }
  &__stages {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    margin-bottom: 54px;
  }
  &__stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 428px;
    margin-top: auto;
  }
  &__stage-title {
    margin: 32px 0 17px;
    font-size: px-to-em(30);
    line-height: lh-to-pct(41, 30);
    font-weight: 600;
  }
  &__stage-text {
    max-width: 358px;
    margin-bottom: 54px;
    font-size: px-to-em(22);
    line-height: lh-to-pct(30, 22);
    font-weight: 400;
    text-align: center;
  }
  &__field {
    min-width: 428px;
    padding: 10px 18px;
    border: 1px solid #969696;
    border-radius: 10px;
    font-size: px-to-em(20);
    line-height: lh-to-pct(27, 20);
    font-weight: 400;
    color: #969696;
    outline: none;
    transition: 0.3s ease-in-out;
    &:focus {
      border: 1px solid #2ECC71;
    }
  }
  &__btn {
    margin-left: 20px;
    padding: 8px 136px;
    border: 3px solid #2ECC71;
    border-radius: 10px;
    font-size: px-to-em(20);
    line-height: lh-to-pct(27, 20);
    font-weight: 600;
    color: #2ECC71;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      color: #ffffff;
      background-color: #2ECC71;
    }
  }
  @media screen and (max-width: 1399.98px) {
    &__stages {
      justify-content: space-around;
    }
  }
  @media screen and (max-width: 1199.98px) {
    &__photo {
      max-width: 226px;
    }
    &__title {
      margin-bottom: 16px;
      font-size: px-to-em(35);
    }
    &__text, &__stage-text {
      font-size: px-to-em(18);
    }
    &__stage-title {
      font-size: px-to-em(22);
    }
  } 
  @media screen and (max-width: 991.98px) {
    &__area {
      padding: 40px 20px;
    }
    &__stages {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    &__stage-title {
      margin: 30px 0 14px;
    }
    &__stage-text {
      margin-bottom: 20px;
    }
    &__form {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &__field {
      min-width: 280px;
      margin-bottom: 18px;
    }
    &__btn {
      margin-left: 0;
    }
  }
  @media screen and (max-width: 575.98px) {
    &__btn {
      padding: 10px 70px;
    }
  }
}
