mixin options(modifier)
  section.options&attributes(attributes)#options
    .options__area
      h2.options__title Digitize Your Business
      .options__info
        +option("img/1.png", "Raise Capital", "Expand your investor base globally through the Equitees launchpad")
        +option("img/2.png", "Automated Compliance", "Regulation aware shares means less time on the phone with your lawyers")
        +option("img/3.png", "Digital Transfer Agent", "Everything from shareholder, managment, voting, even dividend distribution")
        +option("img/4.png", "Lower Fees", "Removing unnecesary middlemen helps keep more money in your business")
        +option("img/5.png", "Brand Engagement", "Increase your customer engagement by rewardind your most loyal patrons")
        +option("img/6.png", "24/7 Liquidity", "Sacondary trading is hard, we make it easy though the Equiteez Marketplace")
