@import 'mixins';

@font-face {
  font-family: OpenSans;
  font-weight: 400;
  src: url("/./fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: OpenSans;
  font-weight: 600;
  src: url("/./fonts/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: OpenSans;
  font-weight: 700;
  src: url("/./fonts/OpenSans-Bold.ttf");
}

body, ul, ol {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", sans-serif;
}

ul, ol {
  list-style: none;
}

button, input, textarea {
  font-family: "OpenSans", sans-serif;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
  font-weight: normal;
  margin: 0;
  padding: 0;
}

@import './src/blocks/header/header';
@import './src/blocks/welcome/welcome';
@import './src/blocks/security/security';
@import './src/blocks/quote/quote';
@import './src/blocks/products/products';
@import './src/blocks/options/options';
@import './src/blocks/option/option';
@import './src/blocks/blog/blog';
@import './src/blocks/form/form';
@import './src/blocks/contact/contact';
@import './src/blocks/footer/footer';
@import './src/blocks/popup/popup';
@import './src/blocks/modal/modal';