mixin footer(modifier)
  footer.footer&attributes(attributes)
    .footer__area
      .footer__container
        .footer__info
          a.footer__logo-link(href="#"): img.footer__logo(src="img/footerLogo.png", alt="Logo")
          a.footer__menu-link(href="#contact").footer__menu-link--contact Contact Us
          .footer__social
            a.footer__social-link(href="#")
              include ./img/Ftwitter.svg
            a.footer__social-link(href="#")
              include ./img/Ffacebook.svg
            a.footer__social-link(href="#")
              include ./img/Flinkedin.svg
            a.footer__social-link(href="#")
              include ./img/Fmedium.svg
        ul.footer__info.footer__info--menu
          li.footer__menu-item: a.footer__menu-link(href="#security") What Are Digital Securities?
          li.footer__menu-item: a.footer__menu-link(href="#products") Products
          li.footer__menu-item: a.footer__menu-link(href="#options") Digitize Your Business
          li.footer__menu-item: a.footer__menu-link(href="#blog") Blog
      .footer__copy
        p.footer__copyright ©2020 Equiteez.All rights reserved.