.footer {
  background-color: #252525;

  &__area {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1322px;
    margin: 0 auto;
    padding: 32px 0 20px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-bottom: 80px;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__logo {
    margin-bottom: 20px;
  }
  &__menu-link {
    font-size: px-to-em(18);
    line-height: lh-to-pct(25, 18);
    font-weight: 600;
    color: #FFF;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    &:hover {
      color: #2ECC71;
    }
  }
  &__social {
    display: flex;
    margin-top: 58px;
  }
  &__social-link {
    margin-right: 20px;
    path {
      transition: 0.3s ease-in-out;
    }
    path#Shape {
      fill: #252525;
    }
    &:hover {
      path {
        fill: white;
      }
    }
  }
  &__menu-item:nth-child(n+2) {
    margin-top: 24px;
  }
  &__copy {
    border-top: 1px solid #4A4A4A;
  }
  &__copyright {
    margin-top: 24px;    
    font-size: 1em;
    font-style: italic;
    font-weight: 400;
    line-height: lh-to-pct(22, 16);
    color: #FFF;
    text-align: center;
  }
  @media screen and (max-width: 1399.98px) {
    &__area {
      padding: 32px 100px 20px;
    }
  }
  @media screen and (max-width: 767.98px) {
    &__area {
      padding: 22px 20px 92px;
    }
    &__container {
      width: 100%;
    }
    &__copyright {
      margin-top: 12px;
    }
  }
  @media screen and (max-width: 575.98px) {
    &__info {
      align-items: center;
      width: 100%;
    }
    &__logo {
      margin-bottom: 24px;
    }
    &__info--menu {
      margin-bottom: 32px;
    }
    &__menu-item:nth-child(n+2) {
      margin-top: 26px;
    }
    &__menu-link--contact {
      align-self: flex-start;
    }
    &__social {
      margin-top: 18px;
      align-self: flex-start;
    }
  }
}
