mixin blog(modifier)
  section.blog&attributes(attributes)
    .blog__area
      .blog__title Blog
      ul.blog__posts
        li.blog__post
          img.blog__photo(src="img/photo1.png", alt="Картинка")
          time.blog__date(datetime="2020-06-02") 02.06.20
          p.blog__text In expression an solicitude principles in do. Small for ask shade water manor think men begin. At principle perfectly by sweetness do.
        li.blog__post
          img.blog__photo(src="img/photo2.png", alt="Картинка")
          time.blog__date(datetime="2020-06-02") 02.06.20
          p.blog__text In expression an solicitude principles in do. Small for ask shade water manor think men begin. At principle perfectly by sweetness do.
        li.blog__post
          img.blog__photo(src="img/photo3.png", alt="Картинка")
          time.blog__date(datetime="2020-06-02") 02.06.20
          p.blog__text In expression an solicitude principles in do. Small for ask shade water manor think men begin. At principle perfectly by sweetness do.
      a.blog__link(href="#") View all news