mixin products(modifier)
  section.products&attributes(attributes)
    .products__area
      h2.products__title Products 
      .products__container
        .products__info
          .products__item
            a.products__link(href="#") Launchpad
            p.products__text Help launch startups &&nbsp;fund&nbsp;private bussinesses
          .products__item
            a.products__link(href="#") Marketplace
            p.products__text Browse through stocks on sale from private investors
        img.products__photo(src="img/productPhoto.png", alt="Mockup")