mixin quote(modifier)
  section.quote&attributes(attributes)
    .quote__area
      p.quote__container
        span.quote__title Digital Assets 
        span.quote__text the future of private equi<br> 
        span.quote__name -&nbsp;Deloitte