mixin welcome(modifier)
  section.welcome&attributes(attributes)
    .welcome__area
      .welcome__info
        h1.welcome__title Private Equity Made Easy
        p.welcome__text Equiteez is on a mission to&nbsp;make private equity easily accesible to all in&nbsp;vestors
        button.welcome__btn(type="button") Singnup For Free
      img.welcome__photo(src="img/welcomePhoto.png", alt="Телефон")