.welcome {
  background-color: #2ECC71;

  &__area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1322px;
    margin: 0 auto;
    padding: 54px 0 72px;
  }
  &__title {
    margin-bottom: 30px;
    font-size: px-to-em(52);
    line-height: lh-to-pct(71, 52);
    font-weight: 700;
    color: #FFFFFF;
  }
  &__text {
    max-width: 635px;
    margin-bottom: 48px;
    font-size: px-to-em(32);
    line-height: lh-to-pct(44, 32);
    font-weight: 400;
    color: #FFFFFF;
  }
  &__btn {
    padding: 14px 46px;
    border: 3px solid #000000;
    border-radius: 10px;
    font-size: px-to-em(20);
    font-weight: 600;
    line-height: lh-to-pct(27, 20);
    background-color: transparent;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: #000000;
      color: #FFFFFF;
    }
  }
  &__photo {
    rotate: 158.58deg;
  }
  @media screen and (max-width: 1399.98px) {
    &__area {
      padding: 54px 110px 72px;
    }
  }
  @media screen and (max-width: 1365.98px) {
    &__photo {
      max-width: 540px;
    }
    &__info {
      max-width: 400px;
    }
    &__title {
      font-size: px-to-em(46);
    }
    &__text {
      font-size: px-to-em(26);
    }
  }
  @media screen and (max-width: 1199.98px) {
    &__photo {
      max-width: 500px;
    }
    &__title {
      font-size: px-to-em(35);
    }
    &__text {
      font-size: px-to-em(22);
    }
  }
  @media screen and (max-width: 991.98px) {
    &__area {
      padding: 8px 20px 24px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
    }
    &__title {
      max-width: 408px;
      margin-bottom: 0;
      text-align: center;
    }
    &__photo {
      max-width: 500px;
    }
    &__text {
      max-width: 294px;
      margin-bottom: 28px;
      text-align: center;
    }
  }
  @media screen and (max-width: 767.98px) {
    &__photo {
      max-width: 260px;
    }
  }
}
